<div class="navbar">
 <div class="start">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#">Seech<span>Bank</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collpase navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
        <li class="nav-item new-trem"><a href="#" class="nav-link active set-color" aria-current="page">$1000.98</a></li>
        <li class="nav-item"><a href="#" class="nav-link active line-adjust" aria-current="page"><img src="/assets/img/bank9.png" alt="" class=""></a></li>
        <li class="nav-item dropdown" appDropdown>
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/assets/img/bank5.png" alt=""><span class="set-color" style="padding: 1rem;">Jane Doe</span></a>
        </li>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#"><img src="/assets/img/bank5.png" alt=""><span class="set-color">Jane Doe</span></a></li>
          <li><a class="dropdown-item" href="#"><img src="/assets/img/bank6.png" alt=""><span class="set-color">John Doe</span></a></li>
        </ul>
       </ul>
      </div>
    </nav>
 </div>
</div>
