<div class="container">
  <form action="#" class="search">
    <input type="text" class="search__input" placeholder="Search Transactions">
    <button class="search__button">
       <img src="/assets/img/button.svg" alt="" class="search__icon">
    </button>
  </form>
</div>

<figure class="extreme">
  <figcaption class="extreme__user">
     <img src="/assets/img/bank3.png" alt="" class="extreme__photo">
     <div class="extreme__user-box">
        <p class="extreme__user-detail">From John Doe</p>
        <p class="extreme__user-copy">Lorem ipsum trans multi dan short ehn come.</p>
     </div>
     <div class="extreme__flip">
        7 Feburary 2022 | 23:51
       <br class="hidden-xs">
       <span style="color: #218A18;">$ 972.00</span>
      </div>
  </figcaption>
</figure>

<figure class="extreme">
  <figcaption class="extreme__user">
    <img src="/assets/img/bank8.png" alt="" class="extreme__photo">
     <div class="extreme__user-box">
       <p class="extreme__user-detail">From Franz Ferdinand</p>
       <p class="extreme__user-copy">Lorem ipsum trans multi dan short ehn come</p>
     </div>
     <div class="extreme__flip">
      9 Feburary 2022 | 23:51
      <br class="hidden-xs">
      <span style="color:#218A18;">$ 125.00</span>
     </div>
  </figcaption>
</figure>
