<div class="container">
   <div class="row">
     <div class="col-6">
       <img src="/assets/img/bank1.png" class="rounded float-start image--1" alt="">
     </div>
     <div class="col-6">
       <img src="/assets/img/bank2.png" class="rounded float-end image--1" alt="">
     </div>
   </div>
</div>

<section class="container">
   <h1 class="heading--inset">RECIPIENT</h1>
   <div class="row">
    <div class="col-sm">
      <div class="credit__card--1">
       <span><img src="/assets/img/bank6.png" alt="" class="img--1"><a style="margin-left: 1rem; color: #000; font-weight: bold;" href="#">John Doe</a></span>
      </div>
    </div>
    <div class="col-sm">
      <div class="credit__card--2">
        <span><img src="/assets/img/bank3.png" alt="" class="img--2"><a style="margin-left: 1rem; color: #fff; font-weight: bold;" href="#">Peter Doe</a></span>
      </div>
    </div>
    <div class="col-sm">
       <div class="credit__card--3">
         <span><img src="/assets/img/bank4.png" alt="" class="img--3"><a style="margin-left: 1rem; color: #000; font-weight: bold;" href="#">David Shawn</a></span>
       </div>
    </div>
  </div>
</section>

<section class="container">
 <h1 class="heading--inset" style="margin-top: 4rem;">TRANSACTION DETAIL</h1>

 <form>
   <div class="input-group mb-3">
     <span class="input-group-text" style="margin-top: 3rem;">$</span>
     <span class="input-group-text" style="margin-top: 3rem;">120.50</span>
     <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" style="margin-top: 3rem;" placeholder="change currency">
   </div>
   <div class="input-group mb-3">
     <input type="text" class="form-control" placeholder="Description(Optional)">
   </div>
  <div class="d-grid gap-2">
    <button class="slide" type="button">Confirm</button>
  </div>
 </form>
</section>
<app-transaction></app-transaction>