$color-dark: #000;
$color-light-primary:#8660C1;

.item__layout {
  color: $color-dark;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 4rem;
  margin-right: 15rem;

  &:hover{
    border-bottom: 1px solid $color-light-primary;
  }
}